.fab-wrapper {
  position: fixed;
  bottom: 5rem;
  right: 3rem;
}

.demo-table {
  width: 100%;
}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-table {
  .mat-column-edit {
    width: 10%;
  }

  .material-icons {
    font-size: 20px;
  }

  th.mat-header-cell,
  td.mat-cell {
    padding: 8px;
  }

  th.mat-header-cell {
    background: cornsilk;
    font-size: 14px;
  }
}